receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  datadog:
    api:
      key: 153529a0ed4bc293118aa4f21207fd43
      site: us5.datadoghq.com
  debug:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [datadog, debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [datadog, debug]
