receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  resource:
    attributes:
      - key: service.name
        value: sentinel-llm
        action: upsert
      - key: env
        value: development
        action: upsert

exporters:
  datadog:
    api:
      key: 153529a0ed4bc293118aa4f21207fd43
      site: us5.datadoghq.com

  debug:
    verbosity: basic

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [datadog, debug]

    metrics:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [datadog, debug]
